:root {
  --black: #212121;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: rgba(255, 255, 255);
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  background: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
}
.box-header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.04em;
  text-align: center;

  cursor: pointer;
}

.nav {
  display: flex;
}
.nav-logo {
  padding-right: 76px;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.span {
  color: var(--iris);
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.nav-item {
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contacts:hover {
  color: var(--ocean);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--ocean);
}
.nav-list .nav-link:active {
  color: var(--ocean);
}
.address {
}

.address-list {
  display: flex;
  gap: 40px;
}

.main-section-title {
  background: var(--navy-blue);
}

.main-page {
  display: block;
  text-align: center;
  padding-bottom: 188px;
}

.main-title {
  max-width: 496px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  padding-top: 188px;
  padding-bottom: 48px;
}

.main-button {
  padding: 16px 32px;
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
}

.strategy {
}

.strategy-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 152px;
  padding-bottom: 120px;
}
.strategy-title {
  padding-bottom: 8px;
}

.promo-section-title {
  font-weight: 700;
  font-size: 36px;

  padding-bottom: 72px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
.promo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}

.team {
  background: var(--cloud);
}
.team-section {
}
.team-section-title {
  padding-top: 120px;
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
  margin: 0;
}
.team-item {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.team-cards {
  margin-top: 32px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-text {
  margin-top: 16px;
  width: 264px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--white);
}
.box-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.port-btn {
  color: var(--iris);
  border: 1px solid var(--cloud);
  padding: 12px 24px;
  background: var(--cornflower);
}
.port-btn:hover,
.port-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}
.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
}

.port-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 48px;
}
.list-port {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
  margin: 0;
}
.port-item {
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
}

.port-cards {
  margin-top: 32px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  padding-left: 16px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.port-description {
  font-weight: 400;
  font-size: 16px;
  padding-left: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
